
<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style type="text/css">
    .heading{
      
      color: white;
      font-family:Garamond;
      padding: 10px;

    }
    .alert {
   width:50%;    

}
.msg{
   padding-left:5%;
}
.navbar{
  cursor: pointer;
}


  </style>
    
</head>
<body background="{% static 'images/img.jpg' %}">
<h3 class="heading" >ONLINE BLOOD DONATION SYSTEM</h3>
<nav  class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a id="1" class="nav-link text-white" onclick="goBack()"><b><<</b></a>
    </li>&nbsp&nbsp

    <li class="nav-item">
      <a id="2" class="nav-link text-white" onclick="goForward()"><b>>></b></a>
    </li>&nbsp&nbsp
    
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'register' %}">HOME</a>
    </li>&nbsp&nbsp
    
    
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'donorreg' %}">DONOR REGISTRATION</a>
    </li>&nbsp&nbsp

    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'searchdonor' %}">SEARCH DONOR</a>
    </li>&nbsp&nbsp

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white"  id="navbardrop" data-toggle="dropdown">
        REQUESTS
      </a>
      <div class="dropdown-menu bg-dark" >
        <a class="dropdown-item text-white bg-dark"  href="{% url 'requests' %}"  >Outside Request</a>
        <a class="dropdown-item text-white bg-dark"  href="{% url 'myrequests' %}" >My Requests</a>
        
      </div>
    </li>&nbsp&nbsp

    
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'profile' %}">MY PROFILE</a>
    </li>&nbsp&nbsp
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'barchart' %}">DONOR-ANALYSIS</a>
    </li>&nbsp&nbsp
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'bloodcamp' %}" >BLOOD_CAMPS</a>
    </li>&nbsp&nbsp

    
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'ulogout' %}" onclick="preventBack()">LOGOUT</a>
    </li>&nbsp&nbsp

    

  </ul>
</nav>
{% if messages %}
          {% for message in messages %}
          <div class="msg">
            <div class="alert alert-info alert-dismissible" role="alert" id="alertmessage">
            <strong>{{message}}</strong>
          </div>
          </div>
          
          
          {% endfor %}
        {% endif %}
</body>
</html>
<script type="text/javascript">
            window.setTimeout("alertMessage();", 4000);
            function alertMessage(){
            document.getElementById("alertmessage").style.display=" none";
            }

            function goBack() {
              window.history.back();
            }
            function goForward() {
              window.history.forward();
            }

          </script>
<!--<script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
        
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>-->

